/* .projects_title {
  font-size: 330%;
  font-family: "Atma";
  color: #1B4262;
  position: absolute;
  top: 15%;
  padding-left: 10px;
} */
@media screen and (max-width: 700px) {
  .projects_title{
    font-size: 35px;
  }
}

#jam {
  position: absolute;
  width: 15%;
  height: 15%;
  transition: 0.3s;
  text-align: center;
  left: 22%;
  top: 44%;
}

#candella {
  position: absolute;
  width: 15%;
  height: 15%;
  transition: 0.3s;
  text-align: center;
  left: 50%;
  top: 10%;
}

.demo-announcement {
  position: absolute;
  z-index: 2;
  top: 20%;
  left: 2%;
  font-family: "Roboto Condensed";
  color: #1B4262;
  font-weight: thick;
}

#realfood {
  position: absolute;
  width: 15%;
  height: 15%;
  transition: 0.3s;
  text-align: center;
  left: 40%;
  top: 35%;
}

#music {
  width: 50px;
  position: absolute;
  right: 100%;
  top: 50%;
  transform: translateX(100%);
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

#jam img {
  max-width: 100%;
  max-height: 100%;
}

#candella img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
}

#music img {
  max-width: 100%;
  max-height: 100%;
}
#realfood img {
  max-width: 100%;
  max-height: 100%;
}

.description-box {
  position: absolute;
  text-align: left;
  top: 50%;
  left: 50%;
  transform: translateX(-40%);
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  opacity: 0.9;
  z-index: 1000;
  white-space: normal;
  width: 600px;
  /* overflow: hidden; */
  display: block;
}

.description-box-2 {
  position: absolute;
  text-align: left;
  top: -200%;
  left: 50%;
  transform: translateX(-40%);
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  opacity: 0.9;
  z-index: 1000;
  white-space: normal;
  width: 600px;
  overflow: hidden;
  display: block;
}

.description-box-3 {
  position: absolute;
  text-align: left;
  left: 50%;
  transform: translateX(-40%);
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  opacity: 0.9;
  z-index: 1000;
  white-space: normal;
  width: 600px;
  overflow: hidden;
  display: block;
}

.description-box-4 {
  position: absolute;
  text-align: left;
  left: 50%;
  transform: translateX(-40%);
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  opacity: 0.9;
  z-index: 1000;
  white-space: normal;
  width: 600px;
  overflow: hidden;
  display: block;
}

@media screen and (min-width: 500px) and (max-width: 750px) {
  .description-box {
    /* display: none; */
    position: fixed;
    top: 0;
    width: 50%;
    height: 100%;
    transform: translateX(0%);
    background-color: #fff;
    color: #212121;
    overflow: hidden;
    font-family: "Roboto condensed";
    font-size: 9px;
    transition: transform 0.3s ease-in-out;
    z-index: 1;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }

  .description-box-2 {
    /* display: none; */
    position: fixed;
    top: 0;
    width: 50%;
    height: 100%;
    transform: translateX(0%);
    background-color: #fff;
    color: #212121;
    overflow: hidden;
    font-family: "Roboto condensed";
    font-size: 9px;
    transition: transform 0.3s ease-in-out;
    z-index: 1;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }

  .description-box-3 {
    /* display: none; */
    position: fixed;
    top: 0;
    width: 50%;
    height: 100%;
    transform: translateX(0%);
    background-color: #fff;
    color: #212121;
    overflow: hidden;
    font-family: "Roboto condensed";
    font-size: 9px;
    transition: transform 0.3s ease-in-out;
    z-index: 1;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }
  .description-box-4 {
    /* display: none; */
    position: fixed;
    top: 0;
    width: 50%;
    height: 100%;
    transform: translateX(0%);
    background-color: #fff;
    color: #212121;
    overflow: hidden;
    font-family: "Roboto condensed";
    font-size: 9px;
    transition: transform 0.3s ease-in-out;
    z-index: 1;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }

  .description-box.opened {
    transform: translateX(0%);
  }

  .map-object {
    cursor: pointer;
  }
}
@media screen and (min-width: 850px) and (max-width: 1000px) {
  .description-box {
    /* display: none; */
    position: fixed;
    top: 0;
    width: 50%;
    height: 100%;
    transform: translateX(0%);
    background-color: #fff;
    color: #212121;
    overflow: hidden;
    font-family: "Roboto condensed";
    font-size: 11px;
    transition: transform 0.3s ease-in-out;
    z-index: 1;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }

  .description-box-2 {
    /* display: none; */
    position: fixed;
    top: 0;
    width: 50%;
    height: 100%;
    transform: translateX(0%);
    background-color: #fff;
    color: #212121;
    overflow: hidden;
    font-family: "Roboto condensed";
    font-size: 11px;
    transition: transform 0.3s ease-in-out;
    z-index: 1;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }

  .description-box-3 {
    /* display: none; */
    position: fixed;
    top: 0;
    width: 50%;
    height: 100%;
    transform: translateX(0%);
    background-color: #fff;
    color: #212121;
    overflow: hidden;
    font-family: "Roboto condensed";
    font-size: 11px;
    transition: transform 0.3s ease-in-out;
    z-index: 1;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }

  .description-box-4 {
    /* display: none; */
    position: fixed;
    top: 0;
    width: 50%;
    height: 100%;
    transform: translateX(0%);
    background-color: #fff;
    color: #212121;
    overflow: hidden;
    font-family: "Roboto condensed";
    font-size: 11px;
    transition: transform 0.3s ease-in-out;
    z-index: 1;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }

  .description-box.opened {
    transform: translateX(0%);
  }

  .map-object {
    cursor: pointer;
  }
}

@media screen and (min-width: 840px) and (max-width: 850px) {
  .description-box {
    /* display: none; */
    position: fixed;
    top: 0;
    width: 50%;
    height: 100%;
    transform: translateX(0%);
    background-color: #fff;
    color: #212121;
    overflow: hidden;
    font-family: "Roboto condensed";
    font-size: 10px;
    transition: transform 0.3s ease-in-out;
    z-index: 1;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }

  .description-box-2 {
    /* display: none; */
    position: fixed;
    top: 0;
    width: 50%;
    height: 100%;
    transform: translateX(0%);
    background-color: #fff;
    color: #212121;
    overflow: hidden;
    font-family: "Roboto condensed";
    font-size: 10px;
    transition: transform 0.3s ease-in-out;
    z-index: 1;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }

  .description-box-3 {
    /* display: none; */
    position: fixed;
    top: 0;
    width: 50%;
    height: 100%;
    transform: translateX(0%);
    background-color: #fff;
    color: #212121;
    overflow: hidden;
    font-family: "Roboto condensed";
    font-size: 10px;
    transition: transform 0.3s ease-in-out;
    z-index: 1;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }

  .description-box-4 {
    /* display: none; */
    position: fixed;
    top: 0;
    width: 50%;
    height: 100%;
    transform: translateX(0%);
    background-color: #fff;
    color: #212121;
    overflow: hidden;
    font-family: "Roboto condensed";
    font-size: 10px;
    transition: transform 0.3s ease-in-out;
    z-index: 1;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }

  .description-box.opened {
    transform: translateX(0%);
  }

  .map-object {
    cursor: pointer;
  }
}

@media screen and (min-width: 800px) and (max-width: 840px) {
  .description-box {
    /* display: none; */
    position: fixed;
    top: 0;
    width: 50%;
    height: 100%;
    transform: translateX(0%);
    background-color: #fff;
    color: #212121;
    overflow: hidden;
    font-family: "Roboto condensed";
    font-size: 10px;
    transition: transform 0.3s ease-in-out;
    z-index: 1;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }

  .description-box-2 {
    /* display: none; */
    position: fixed;
    top: 0;
    width: 50%;
    height: 100%;
    transform: translateX(0%);
    background-color: #fff;
    color: #212121;
    overflow: hidden;
    font-family: "Roboto condensed";
    font-size: 10px;
    transition: transform 0.3s ease-in-out;
    z-index: 1;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }

  .description-box-3 {
    /* display: none; */
    position: fixed;
    top: 0;
    width: 50%;
    height: 100%;
    transform: translateX(0%);
    background-color: #fff;
    color: #212121;
    overflow: hidden;
    font-family: "Roboto condensed";
    font-size: 10px;
    transition: transform 0.3s ease-in-out;
    z-index: 1;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }

  .description-box-4 {
    /* display: none; */
    position: fixed;
    top: 0;
    width: 50%;
    height: 100%;
    transform: translateX(0%);
    background-color: #fff;
    color: #212121;
    overflow: hidden;
    font-family: "Roboto condensed";
    font-size: 10px;
    transition: transform 0.3s ease-in-out;
    z-index: 1;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }

  .description-box.opened {
    transform: translateX(0%);
  }

  .map-object {
    cursor: pointer;
  }
}

#groove {
  position: absolute;
  width: 15%;
  height: 15%;
  transition: 0.3s;
  text-align: center;
  left: 56%;
  top: 65%;
}

#groove img {
  max-width: 100%;
  max-height: 100%;
}

#instrument {
  width: 50px;
  position: absolute;
  left: 100%;
  top: 20%;
  transform: translateX(-100%);
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

#groove:hover #instrument {
  transform: translateX(0);
  visibility: visible;
}

.project_back_button {
  position: absolute;
  top: 10%;
  z-index: 3;
  left: 1%;
  color: black;
  box-shadow: 0px 6px 6px #00a0a8;
  width: 13%;
  /* transform: skewX(-15deg); */
  /* transform: translate(-50%, -50%); */
  border-radius: 22px;
  background: white;
  border: white;
  text-decoration: none;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  font-weight: 900;
}

.project_back_button:hover {
  box-shadow: 0px 10px 0px #00a0a8;
  transform: translateY(-7px);
}

.back_button {
  position: absolute;
  top: 10%;
  z-index: 3;
  left: 1%;
  color: black;
  box-shadow: 0px 6px 6px #B798C7;
  width: 13%;
  /* transform: skewX(-15deg); */
  /* transform: translate(-50%, -50%); */
  border-radius: 22px;
  background: white;
  border: white;
  text-decoration: none;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  font-weight: 900;
}

.back_button:hover {
  box-shadow: 0px 10px 0px #b151e1;
  transform: translateY(-7px);
}

@media screen and (max-width: 700px) {
  .back_button {
    font-size: 15px;
  }
  .project_back_button {
    font-size: 15px;
  }
}
/* @media screen and (min-width: 1000px) {
  .project_back_button {
    width: 8%;
  }
  .back_button {
    width: 8%;
  }
} */
/*
.fa-caret-up {
  width: 1%;
} */

a {
  color: rgb(228, 92, 92);
  text-decoration: none;
}
