@media (max-width: 768px) {
  @keyframes moveTrain {
    0% {
      transform: translateX(200%);
    }

    100% {
      transform: translateX(120%);
    }
  }

  @keyframes moveTrain2 {
    0% {
      transform: translateX(120%);
    }

    100% {
      transform: translateX(-60%);
    }
  }

  #train-svg {
    animation: moveTrain 5s linear;
    /* top: 220px; */
  }

  #train-svg-2 {
    animation: moveTrain2 5s linear forwards;

  }
}
