body {
  margin: 0;
  overflow: hidden;
}

#background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}


@keyframes moveCloud {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(200%);
  }
}

@keyframes moveCloud2 {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(130%);
  }
}

@keyframes moveCloud3 {
  0% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(300%);
  }
}

@keyframes moveCloud4 {
  0% {
    transform: translateX(-400%);
  }
  100% {
    transform: translateX(900%);
  }
}

@keyframes moveCloud5 {
  0% {
    transform: translateX(-500%);
  }
  100% {
    transform: translateX(900%);
  }
}

@keyframes moveCloud6 {
  0% {
    transform: translateX(-700%);
  }
  100% {
    transform: translateX(900%);
  }
}

@keyframes moveCloud7 {
  0% {
    transform: translateX(-900%);
  }
  100% {
    transform: translateX(900%);
  }
}

#cloud-svg {
  animation: moveCloud 200s linear infinite;
  width: 600px;
  position: absolute;
  top: -40px;
  /* left: 80px; */
}

#cloud-2-svg {
  animation: moveCloud2 360s linear infinite;
  width: 800px;
  position: absolute;
  top: -150px;
  left: 100px;
  /* left: 900px; */
}

#cloud-3-svg {
  animation: moveCloud3 300s linear infinite;
  width: 400px;
  position: absolute;
  top: -30px;
  /* left: 50px; */
}

#cloud-4-svg {
  animation: moveCloud4 500s linear infinite;
  width: 250px;
  position: absolute;
  top: 20px;
}
#cloud-5-svg {
  animation: moveCloud5 500s linear infinite;
  width: 450px;
  position: absolute;
  top: -90px;
}

#cloud-6-svg {
  animation: moveCloud6 500s linear infinite;
  width: 650px;
  position: absolute;
  top: -70px;
}
#cloud-7-svg {
  animation: moveCloud7 500s linear infinite;
  width: 200px;
  position: absolute;
  top: 100px;
}

@keyframes moveTrain {
  0% {
    transform: translateX(170%);
  }

  100% {
    transform: translateX(0%);
  }
}

#train-svg {
  animation: moveTrain 9s linear;
  width: 900px;
  position: absolute;
  bottom: 110px;
  left: 20%;
}

.train-door {
  width: 260px;
  /* display: none; */
  position: absolute;
  bottom: 193px;
  left: 42.45%;
  z-index: 3;
}

.d-none {
  visibility: hidden;
}

@keyframes flyButterfly {
  0% {
    transform: translateX(0%) translateY(0);
  }
  25% {
    transform: translateX(300%) translateY(-20px);
  }
  50% {
    transform: translateX(0%) translateY(0);
  }
  75% {
    transform: translateX(300%) translateY(20px);
  }
  100% {
    transform: translateX(0%) translateY(0);
  }
}

.butterfly {
  animation: flyButterfly 20s linear infinite;
  width: 60px;
  position: absolute;
  bottom: 250px;
}

@keyframes setInitialPositionCloud {
  0% {
    transform: translateX(70%);
  }
  100% {
    transform: translateX(200%);
  }
}
@keyframes setInitialPositionCloud1 {
  0% {
    transform: translateX(90%);
  }
  100% {
    transform: translateX(500%);
  }
}
@keyframes setInitialPositionCloud2 {
  0% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(700%);
  }
}

#cloud-9-svg {
  animation: setInitialPositionCloud 60s linear forwards;
  width: 600px;
  position: absolute;
  top: -40px;
  /* left: 80px; */
}

#cloud-10-svg {
  animation: setInitialPositionCloud1 140s linear forwards;
  width: 800px;
  position: absolute;
  top: -150px;
  left: 100px;
  /* left: 900px; */
}

#cloud-11-svg {
  animation: setInitialPositionCloud2 200s linear forwards;
  width: 400px;
  position: absolute;
  top: -30px;
  /* left: 50px; */
}
