@keyframes moveTrain {
  0% {
    transform: translateX(80%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes moveTrain2 {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-80%);
  }
}

#train-svg {
  animation: moveTrain 7s linear;
  position: absolute;
  top: 50%;
  width: 70%;
}

.train-door {
  width: 25%;
  position: absolute;
  top: 50%;
  left: 50.7%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.train-image {
  width: 100%;
}

.svg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: auto;
  top: 55%
}

.d-none {
  visibility: hidden;
}
