@keyframes moveTrain {
  0% {
    transform: translateX(80%);
  }

  100% {
    transform: translateX(0%);
  }
}

.train {
  max-width: 100%;
  height: auto;
}

@keyframes moveTrain2 {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-80%);
  }
}

#train-svg {
  animation: moveTrain 7s linear;
  position: absolute;
  top: 50%;
}

.train-image {
  width: 900px;
}

@media screen and (max-width: 700px) {
  .train-image {
    width: 2000px;
  }
  .train-door {
    width: 500px;
  }
}

.svg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: auto;
  top: 55%
}

.train-door {
  width: 225px;
  position: absolute;
  top: 50%;
  left: 50.45%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.d-none {
  visibility: hidden;
}
